/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-angry-face-with-horns {
    background: url(../../../../../icons/index.jpeg);
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.icon-angry-face {
    background: url(../../../../../icons/index.jpeg);
    background-position: -32px 0px;
    width: 32px;
    height: 32px;
}
.icon-anguished-face {
    background: url(../../../../../icons/index.jpeg);
    background-position: 0px -32px;
    width: 32px;
    height: 32px;
}
.icon-smile{
    cursor: pointer;
    background: url(../../../../../icons/smiles.png);
    background-position: -216px -72px;
    width: 72px;
    height: 72px;
}

.icon-heart{
    cursor: pointer;
    background: url(../../../../../icons/smiles.png);
    background-position: -144px -72px;
    width: 72px;
    height: 72px;
}
.icon-angry{
    cursor: pointer;
    background: url(../../../../../icons/smiles.png);
    background-position: 0px 0px;
    width: 72px;
    height: 72px;
}
.icon-happy{
    cursor: pointer;
    background: url(../../../../../icons/smiles.png);
    background-position: 0px -216px;
    width: 72px;
    height: 72px;
}
